.b-block{
    display: block;
    width: 100%;
}

.b-inline{
    display: inline;

}

.b-inline-block{
    display: inline-block;
    width: 160px;
}

.b-none{
    display: none;
}

.topbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: bisque;
    padding: 12px;
    text-align: center;
}

.container{
    padding: 20px;
}

.box{
    width: 200px;
    height: 100px;
    margin: 20px;
    background-color: blanchedalmond;
    text-align: center;
    border: 4px solid #585;
}

.relative{
    position: relative;
    top: 20px;
    left: 20px;
    background-color: rgb(250, 237, 222);

}

.absolute-container{
    position: relative;
    width: 300px;
    height: 150px;
    background-color: #585;
    border: 2px solid;
    margin: 20px 0;
}

.absolute{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 120px;
    height: 60px;
    background-color: blanchedalmond;
    text-align: center;

}

.box{
    background-color: rgb(194, 130, 255);
    border: 3px solid burlywood;
    border-radius: 8px;
}

.p-0{
    padding: 0;
}

.m-100{
    margin: 100px;
}

.container{
    border: 2px dashed #585;
    padding: 16px;
    margin-bottom: 30px;
    background-color: antiquewhite;
    height: 100px;
}

.f{
    display: flex;
    gap: 10px;
}

.item{
    background-color: #585;
    border: 2px solid;
    border-radius: 6px;
    padding: 20px;
    text-align: center;
}

.j-start{
    justify-content: start;
}

.j-end{
    justify-content: end;
}

.j-center{
    justify-content: center;
}

.j-between{
    justify-content: space-between;
}

.j-around{
    justify-content: space-around;
}

.a-start{
    align-items: flex-start;
}

.a-end{
    align-items: flex-end;
}

.a-center{
    align-items: center;
}