.container{
   display: grid;
   grid-template-columns: 150px 1fr;
   grid-template-rows: 300px  200px 1fr;
}

.item{
    background-color: brown;
    color: antiquewhite;
    font-size: large;
    font-weight: bold;
    margin: 5px;
    padding: 20px;
}

.container-area{
    display: grid;
    grid-template-areas: 
    "header header"
    "sidenav main"
    "footer footer";
    grid-template-columns: 200px 1fr;
    grid-template-rows: 80px 1fr;
}

header{
    grid-area: header;
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

nav{
    grid-area: sidenav;
    background-color: rgba(42, 165, 138, 0.452);
    padding: 20px;
}

main{
    grid-area: main;
    background-color: rgb(61, 191, 65);
    padding: 20px;
}

footer{
    grid-area: footer;
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*.header{
    grid-area: header;
}

.sidenav{
    grid-area: sidenav;
}

.main{
    grid-area: main;
}

.footer{
    grid-area: footer;
}