body{
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Poppins;
}
.card{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    max-width: 350px;
    width: 90%;
    overflow: hidden;
}
.card img{
    width: 100%;
    height: auto;
    display: block;
}
.card h2{
    font-size: 1.2rem;
    color: rgb(16, 17, 22);
    margin: 0 0 10px;
}
.card-body{
    padding: 15px;
}
.card p{
    font-size: 0.90rem;
    margin: 0 0 15px;
    color: rgba(44, 39, 62, 0.678);
}
.btn{
    padding: 10px 15px;
    background-color: black;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    /*display: inline-block;*/
    justify-content: center;
}

.price{
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    margin: 10px;
}

@media screen and
(min-width:600px) {
    .card{
        max-width: 500px;
    }

    .card h2{
        font-size: 1.5rem;
    }
}

@media screen and
(min-width:1024px) {
    .card{
        max-width: 700px;
        display: flex;
        flex-direction: row;
    }

    .card img{
        width: 50%;
    }
    
    .card-body{
        flex: 1;
    }
}